
body {
    background-color: #3867a3;
    color: white;
    font-family: "Handjet", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #000000;
    color: white;
    font-family: "Handjet", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 40%;
}

img {
    max-width: 40%;
}